@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.search_component {
  /* border: 1px solid rgb(236, 234, 234); */
  margin-left: 25px;
}

.nav_item {
  list-style: none;
  padding: 12px;
}

ul {
  padding-left: 0;
}

.right_header {
  display: flex;
  flex-direction: row;
}

.profile_part {
  display: flex;
  flex-direction: row;
}

.notifications {
  display: none;
}

.right_header_img {
  margin-right: 29px;
}

.search_input {
  border: none;
}

/* Navbar Responsiveness */
@media (max-width: 992px) {
  .search_box {
    padding-left: 10px;
  }
  .search_input {
    border: 1px solid black;
  }

  .right_header_img {
    margin: 0;
    margin-left: 10px;
    margin-top: 15px;
  }
}

/*  sidebar menu*/
.sidebar {
  position: absolute;
  top: 78;
  left: 30;
  height: 100%;
  width: 200px;
  padding-top: 20px;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  color: black;
}

.sidebar .description {
  font-size: 17px;
}

.dashboard_active {
  background-color: #fff3f4 !important;
}

/* Configuration for mobile view */
@media (max-width: 780px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .description {
    display: none;
  }

  .sidebar .nav-link {
    justify-content: center;
  }

  .main_content {
    margin-left: 60px;
  }

  .sidebar_icon {
    width: 110%;
  }

  /* Datanotes */
  .column {
    width: 36%;
  }

  .main_content {
    margin-left: 60px !important;
    padding: 15px !important;
  }
}

/* Main Body CSS */

/* Main Content */
.main_content {
  height: 100%;
  margin-left: 230px;
  padding: 50px;
  background-color: #fafafa;
}

/* Dashboard Title */
.dashboard_title {
  display: flex;
  /* justify-content: center; */
}

.dashboard_title span {
  font-size: 24px;
  font-weight: 600;
}

.col_text {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 530;
  color: #3e3e3e;
  padding: 10px;
}

#main_body .body_title {
  font-family: "roboto";
  font-size: 30px;
  font-weight: 520;
  /* padding: 20px;
  padding-left: 40px;
  padding-bottom: 10px; */
  margin: 20px 0 0 40px;
}

.form_one {
  width: 100%;
  padding: 32px;
  background-color: #ffffff;
}

.one_dropdown {
  border-radius: 10px;
}

.form-floating .form-select {
  height: calc(2.3rem + 2px) !important;
  padding-top: 0;
  padding-bottom: 0;
}

.form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bfbebe !important;
  margin-bottom: 13px;
}

.base_option {
  color: #adadad !important;
}
.form-select::after {
  outline: none !important;
}

.form-control:disabled {
  background-color: #ffffff;
}

/* column two */

.two_dropdown {
  padding: 7px;
}

.three_dropdown {
  padding: 7px;
}

.input-container,
.input-block {
  position: relative;
}

.input-field,
.input-block-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* width: 100%; */
}

.input-label,
.input-block-label {
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  font-size: 16px;
  color: #adadad;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -3px;
  font-size: 12px;
  color: #adadad;
}

.input-field:focus {
  outline: none;
  border-color: #adadad;
}

.input_height {
  margin: 8px 0;
}

/* For Red Hover Bar */
.input-block-field:focus + .input-block-label,
.input-block-filed:not(:placeholder-shown) + .input-block-label {
  top: -3px;
  font-size: 12px;
  color: #adadad;
}

.input-block-field:focus {
  outline: none;
  border-color: #c8242f;
}

.input_height {
  margin: 8px 0;
}

/* .input-field:focus {
  border-color: #c8242f; 
} */

.form-control:focus {
  box-shadow: none;
}

.lable-designation {
  /* color: #ff3b3b; */
  font-family: "Roboto";
  font-weight: 420;
}

.input-block-field:focus + .input-block-label {
  color: red; /* Changes label color to red on focus */
}

.input-block-field:focus:not(:placeholder-shown) + .input-block-label {
  color: red; /* Ensures label stays red when the field is both focused and has text */
}

.dashed-input {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: #adadad;
  box-shadow: none;
  color: #adadad;
}

.column-four {
  padding: 10px;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
}

.col_text_2 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 530;
  color: #3e3e3e;
  padding: 8px;
}

#designation::placeholder {
  color: #ff3b3b;
}

.file_upload {
  max-width: 400px;
}

.btn_upload {
  border: 1px solid #c8242f;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  padding: 10px;
}

.file_upload p {
  font-size: 12px;
  font-family: "Roboto";
  color: #adadad;
  margin: 0;
  padding: 11px;
}

input[type="radio"] {
  accent-color: #c8242f;
}

input[type="checkbox"] {
  accent-color: #c8242f;
}

.form_radio {
  width: 100%;
  /* padding: 32px; */
  background-color: #ffffff;
}

.radio_btn {
  padding: 0;
}

input#danger {
  background-image: url(../images/error-icon.svg);
  background-repeat: no-repeat;
  text-indent: 40px;
  height: 42px;
  border: 1px solid #ff3535;
}

input#danger::placeholder {
  color: #ff3535;
}

input#info {
  background-image: url(../images/info-icon.svg);
  background-repeat: no-repeat;
  text-indent: 40px;
  height: 42px;
  border: 1px solid #00b9e1;
}

input#info::placeholder {
  color: #00b9e1;
}

input#warning {
  background-image: url(../images/warning-icon.svg);
  background-repeat: no-repeat;
  text-indent: 40px;
  height: 42px;
  border: 1px solid #ffa800;
}

input#warning::placeholder {
  color: #ffa800;
}

input#success {
  background-image: url(../images/success-icon.svg);
  background-repeat: no-repeat;
  text-indent: 40px;
  height: 42px;
  border: 1px solid #00af27;
}

input#success::placeholder {
  color: #00af27;
}

.btn-action-primary {
  background-color: #c8242f;
  color: white;
  width: 120px;
  height: 50px;
  font-size: 18px;
  border: 0;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
  margin: 12px 0;
}

.btn-action-secondary {
  background-color: transparent;
  color: #c8242f;
  border: 1px solid #c8242f;
  width: 145px;
  height: 50px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

/* Tab Button */
.nav-link.active {
  border: none !important;
  border-bottom: 2px solid #c8242f !important;
  border-color: #c8242f !important;
  color: #c8242f !important;
}

.nav-link:focus {
  outline: none;
}

.nav-link:hover {
  border: none !important;
}

.nav-link.active:hover {
  border-bottom: 2px solid #c8242f !important;
}

.nav-tabs {
  border: none !important;
}

.nav-link {
  color: #adadad;
  background: none !important;
  font-family: "Roboto", "serif";
  font-size: 15px;
  font-weight: 450;
}

/* Floating Labels */
/* .form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 1;
  transform: scale(0.85) translateY(-1.9rem) translateX(0.75rem);
  width: fit-content;
  background-color: white !important;
} */

/* Media Query */

@media (min-width: 768px) and (max-width: 1200px) {
  .snackbar::placeholder {
    font-size: 15px;
  }
}
@media (max-width: 567px) {
  .snackbar::placeholder {
    font-size: 12px;
  }
}
