@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* * {
  margin: 0;
  padding: 0;
}
::placeholder {
  color: #adadad;
}

.main {
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

*/

body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/*

  */


span {
  color: #c8242f;
  font-weight: bolder;
}

/*

.left-section {
  margin: 90px;
}
  */

 .center-img{
  border-radius: 50%;
  border: 20px solid #ffffff;
  box-shadow: 0px 4px 31px #0000000a;
}

/*

.right-section {
  flex : 1;
  max-width: 620px;
  padding: 40px;
  margin: 100px;
} 

.login_stat{
  max-width: 280px;
}

*/

.login_stat p{
  /* font-size: 25px; */
  font-family: "Roboto";
  font-weight: normal;
  color: #3e3e3e;
}

/*

.logo {
  margin-bottom: 20px;
}

.company_statement{
  margin-bottom: 30px;
}

*/

.company_statement p{
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 430;
  text-align: left;
  line-height: 1.2;
}

/*

*/

.btn {
  color: #ffffff;
  background-color: #c8242f;
  border-radius: 23px;
  /* font-size: 18px; */
  /* width: 138px;
  height: 45px; */
}

/*

*/
.input_form {
  /* max-width: 400px;  */
  width: 100%;
  margin-bottom: 12px;
}

.input_form input {
  /* padding: 12px !important; */
  width: 100%;
}

.input_form form{
  width: 79%;
}
/*

*/
.register_msg {
  color: #adadad;
}

a {
  color: #c8242f;
}

.forgot_pass {
  color: #adadad;
}



/* Media Query */
/* 
@media screen and (max-width:1024px){
  .left-section{
    max-width: 355px;
    margin: 103px;
  }

  .right-section{
    max-width: 555px;
    margin: 20px;
    padding: 29px;
  }

  .company_statement p{
    font-size: 30px;
  }
} */


.main_container{
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
}

.right_row{
  width: 70%;
  /* padding: 24px; */
}

@media screen and ( min-width:1476px) {
  .company_statement p{
    font-size: 40px;
  }

  .login_stat{
    font-size: 25px;
  }

  .btn{
    font-size: 18px;
    width: 138px;
    height: 45px;
  }
  
}

@media screen and (min-width:1114px) and (max-width:1475px) {
  .company_statement p{
    font-size: 29px;
  }
  .login_stat{
    font-size: 21px;
  }
  .btn{
    font-size: 17px;
    width: 115px;
    height: 40px;
  }

  .forgot_pass{
    font-size: 14px;
  }

  .register_msg{
    font-size: 16px;
  }
}

@media screen and (min-width:874px) and (max-width:1113px) {
  .company_statement p{
    font-size: 23px;
  }
  .login_stat{
    font-size: 16px;
  }
  .btn{
    font-size: 15px;
        width: 88px;
        height: 32px;
  }
  .forgot_pass{
    font-size: 13px;
  }
  .register_msg{
    font-size: 13px;
  }
}

@media screen and (min-width:768px) and (max-width:873px) {
  .company_statement p{
    font-size: 20px;
  }
  .login_stat{
    font-size: 14px;
  }
  .btn{
    font-size: 12px;
    width: 75px;
    height: 23px;
    padding: 0;
  }
  .forgot_pass{
    font-size: 11px;
  }
  .register_msg{
    font-size: 11px;
  }
}

@media screen and (max-width:767px) {
  .company_statement p{
    font-size: 25px;
  }
  .login_stat{
    font-size: 14px;
  }
  .btn{
    font-size: 12px;
    width: 75px;
    height: 23px;
    padding: 0;
  }
  .forgot_pass{
    font-size: 11px;
  }
  .register_msg{
    font-size: 11px;
  }
}